* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 96vh;
    width: 98vw;
    background-color: blue;
}

header > h1 {
    text-align: center;
    padding: 10px;
    font-size: 2.2em;
    margin: 20px 0px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
}

section {
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
}

footer {
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    padding: 10px;
}

input {
    margin: 10px;
}

input#botao {
    background-color: rgb(32, 110, 226);
    color: white;
    padding: 7px;
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    
}

input#botao:hover {
    background-color: rgb(42, 11, 216);
    font-weight: bold;

}

img {
    margin: auto;
    padding: 10px;
}